@page "/chat"

<header>
    <DeerDiary_Frontend.Components.Layout.NavMenu></DeerDiary_Frontend.Components.Layout.NavMenu>
</header>

<body>
    <div class="container-fluid"></div>
</body>

@code {

}

