@inherits LayoutComponentBase
@using DeerDiary_Frontend.Components

<!-- Main Body Content -->
<div>
    @Body
</div>
<AnimatedContainer>
    <div class="container">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>
</AnimatedContainer>
