<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #7A594F; padding: 1vh 2vw;">
    <a class="navbar-brand" href="/">
        <img src="" alt="Logo" style="object-fit: contain; height: 5vh;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item" style="padding: 0vh;">
                <a class="nav-link" href="/login">Signout</a>
            </li>
        </ul>
    </div>
</nav>
